/* general styles */

body {
    background-color:#FFFFFF;   /* -- Edit here - Main background color -- */
}
h1 {
	font-size: 34px;
	line-height: 54px;
    color:#000000;              /* -- Edit here - Main Title Color -- */
}
.btn.btn-primary {
    background: #1abc9c;        /* -- Edit here - button color -- */
    box-shadow: 0 2px #16a085;  /* -- Edit here - button shadow color -- */
}
.navbar.plain .navbar-brand {
    color: #34495E;             /* -- Edit here - navbar logo font color -- */
}
.navbar.plain li.active a {
    color: #1ABC9C;             /* -- Edit here - navbar link rollover color -- */
}
header .navbar.plain li.active a {
    color: #1ABC9C;             /* -- Edit here - navbar link rollover color -- */
}
.navbar.plain .navbar-nav a {
    color: #7F8C8D;             /* -- Edit here - navbar link color -- */
}
.footer.dark {
    background: #3D566E;        /* -- Edit here - Footer background color -- */
}
.content-1-9 .fa {
    font-size: 32px;
    color: #16A085;             /* -- Edit here - front page icon color -- */
}
h3 {
	font-size: 26px;           /* -- Edit here - column title color -- */
}


p {
	font-size: 16px;	
}
h2 {
	font-size: 30px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.light {
	font-weight: 400;
}

form .row {
	margin-bottom: 20px;
}

#page {
	
}

.item {
	
}

.item.header {
	padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.item.footer {
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-100 {
	padding-top: 180px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.width-100 {
	width: 100%;
}

header .navbar.plain li.active a {
	color: #1ABC9C;
}

header .navbar-white {
	background: #fff;
}

header .navbar-white a {
	color: #3D566E;
}
.content-block {
    padding-top:0;
}
.item.portfolio {
    padding-top:0;
}
.banner2 h1 {
    margin-top:20px;
}
.banner2 {
    margin-bottom:10px;
}