@charset "UTF-8";
/* CSS Document */

Body {
	background-color: #C7C7C7;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:12pt;
}
h1{
	font-size:28pt;
}
.container {
	width:960px;
	margin:10px auto 10px auto;
	position:relative;
}
.leftColumn {
	float:left;
	width:250px;
	margin-right:20px;
}
.rightColumn { 
	float:left;
	width:690px;
}
.nav {
	width:250px;
	margin:0;
	padding:0ff;
}
.nav ul {
	list-style-type:none;
}
.nav ul li a {
	text-decoration:none;
	color: #090909;
	display:block;
	padding:5px 5px;
	margin-bottom:3px;
	background-color: #040404;
}
.nav ul li a:visited {
	color: #FFFFFF;
}
.nav ul li a:hover, .nav ul li a:current {
	color: #FFFFFF;
	background-color: #9E08CE;
}

	