@charset "utf-8";
/* CSS Document */

h1 {
	color:#8c7669;
}
.container {
	width:1000px;
	margin:0 auto;
}
.leftnav {
	background-color:#3f61a6;
	padding-left:0;
	width:100%;
	min-height:100vh;
}
.menu_simple ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-top:solid 1px #FFF;
}
.menu_simple ul li a {
	text-decoration:none;
	color:white;
	padding:10px 0 10px 10px;
	background-color:#3f61a6;
	display:block;
	border-bottom:solid 1px #FFF;
}
.menu_simple ul li a:visited {
	color: white;
}
.menu_simple ul li a:hover {
	color: white;
	background-color: #35528c;
}
.menu_simple ul li a .current {
	color: white;
	background-color:#35528c;
}
.topLogo {
	background-color:#CCC;
	width:100%
}
.pageTitle {
	text-align:center;
}
.pageTitle h1 {
	margin:15px auto;
}
article, .pageTitle {
	background-color:#a2c5f2;
}
article aside {
	float:right;
	margin:0 0 10px 10px;
	border:solid 1px #CCC;
	padding:10px;
}
article caption {
	clear:both;
}
article img {
	float:left;
	padding:3px;
	border:solid 1px #ccc;
	margin:10px 10px 10px 0;
	max-width:250px;
	clear:both;
}
.splash {
	margin:0;
	padding:0;
}
.splash img {
	width:100%;
}